<div class=row>
  <div class="col-md-12">

    <div class="form-group">
      <label for="email">SectionNumber</label>
      <input type="text" class="form-control" id="email" name="email" value="<%= section.SectionNumber %>" required>
    </div>

    <div class="form-group">
      <label for="given">Days</label>
      <input type="text" class="form-control" id="given" name="given" value="<%= section.Days %>">
    </div>

    <div class="form-group">
      <label for="family">Start Time</label>
      <input type="text" class="form-control" id="family" name="family" value="<%= section.StartTime %>">
    </div>

    <div class="form-group">
      <label for="salary">Room Number</label>
      <input type="text" class="form-control" id="salary" name="salary" value="<%= section.RoomNumber %>">
    </div>

    <div class="form-group">
      <label for="github">Instructor ID</label>
      <input type="text" class="form-control" id="github" name="github" value="<%= section.InstructorID %>">
    </div>

    <div class="form-group">
      <label for="github">Course ID</label>
      <input type="text" class="form-control" id="github" name="github" value="<%= section.CourseID %>">
    </div>
  </div>
</div>

<!-- PUT CLIENT SIDE CODE HERE -->
<script>
</script>