<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
        <h3>GET resources</h3>
        <ol>
            <li> <a href="http://localhost:3004/inst/findall">http://localhost:3004/inst/findall</a></li>
            <li> <a href="http://localhost:3004/inst/findone/1">http://localhost:3004/inst/findone/1</a></li>
            <li> <a href="http://localhost:3004/inst/">http://localhost:3004/inst/</a></li>
            <li> <a href="http://localhost:3004/inst/create">http://localhost:3004/inst/create</a></li>
            <li> <a href="http://localhost:3004/inst/details/1">http://localhost:3004/inst/details/1</a></li>
            <li> <a href="http://localhost:3004/inst/edit/1">http://localhost:3004/inst/edit/1</a></li>
            <li> <a href="http://localhost:3004/inst/delete/1">http://localhost:3004/inst/delete/1</a></li>
        </ol>
    </div>
    <div class="col-md-6">
            <h3>POST resources</h3>
            <ol>
                <li> <a href="http://localhost:3004/inst/">http://localhost:3004/inst/</a></li>
                <li> <a href="http://localhost:3004/inst/create">http://localhost:3004/inst/create</a></li>
                <li> <a href="http://localhost:3004/inst/details/1">http://localhost:3004/inst/details/1</a></li>
                <li> <a href="http://localhost:3004/inst/edit/1">http://localhost:3004/inst/edit/1</a></li>
                <li> <a href="http://localhost:3004/inst/delete/1">http://localhost:3004/inst/delete/1</a></li>
            </ol>
        </div>
    <div class="col-md-6">
      <a href="inst/create" class="btn btn-primary new">
        add a new instructor
      </a>
      
      <h2>Recent entries</h2>
      <p>There are
        <%= instructors.length %> instructors.
        <br>
      </p>
      <% for (var i = instructors.length-1; i >= 0; i--) {   
        instructor = instructors[i];   %>
      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">

          <br> ID: <%=  instructor._id %>
          <br> Given Name: <%=instructor.given%>
          <br> Last Name: <%=instructor.family%>
          <br> email: <%=instructor.email%>
          <br> salary: <%=instructor.salary%>
          <br> github: <%=instructor.github%>
          <hr>
          <a href="/inst/delete/<%= instructor._id  %>" class="btn btn-danger"> Delete </a>
          <a href="/inst/details/<%= instructor._id %>" class="btn btn-info"> Details </a>
          <a href="/inst/edit/<%= instructor._id %>" class="btn btn-primary"> Edit </a>
          <hr>
          <hr>
        </div>
      </div>
      <% } %>

    </div>
  </div>
</div>