<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of Student</h2>
      <br>
      <br> ID: <%=  student._id %>
      <br> Given Name: <%=student.given%>
      <br> Last Name: <%=student.family%>
      <br> email: <%=student.email%>
      <br> gpa: <%student.gpa%>
      <br> github: <%=student.github%>
      <br> section: <%=student.section_id>
      <hr>
      
      <form method="get" action="/inst">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

      <form method="POST" action="/inst/delete/<%= student._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>