<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Student details</h2>
      <br>
      <br> ID: <%=student._id %>
      <br> Given Name: <%=student.given%>
      <br> Last Name: <%=student.family%>
      <br> email: <%=student.email%>
      <br> gpa: <%=student.gpa%>
      <br> section: <%=student.section_id%>
      <br> github: <%=student.github%>
      <hr>

      <form method="get" action="/inst">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>