<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>course details</h2>
      <br>
      <br> ID: <%=course._id %>
      <br> School Number: <%=course.SchoolNumber%>
      <br> Course Number: <%=course.CourseNumber%>
      <br> Course Name: <%=course.Name%>
      <br> In Spring?: <%=course.inSpring%>
      <br> In Summer?: <%=course.inSummer%>
      <br> In Fall?: <%=course.inFall%>
      <hr>

      <form method="get" action="/cour">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>