<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>course details</h2>
      <br>
      <br> ID: <%=course._id %>
      <br> Given Name: <%=course.given%>
      <br> Last Name: <%=course.family%>
      <br> email: <%=course.email%>
      <br> salary: <%=course.salary%>
      <br> github: <%=course.github%>
      <hr>

      <form method="get" action="/cour">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>