<div class=row>
    <div class="col-md-12">
  
      <div class="form-group">
        <label for="schoolnum">School Number</label>
        <input type="text" class="form-control" id="schoolnum" name="schoolnum" value="<%= course.SchoolNumber %>" required>
      </div>
  
      <div class="form-group">
        <label for="coursenum">Course Number</label>
        <input type="text" class="form-control" id="coursenum" name="coursenum" value="<%= course.CourseNumber %>">
      </div>
  
      <div class="form-group">
        <label for="name">Course Name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= course.Name %>">
      </div>
  
      <div class="form-group">
        <label for="inspring">Spring Class</label>
        <input type="checkbox" class="form-control" id="inspring" name="inspring" value="<%= course.inSpring %>">
      </div>
  
      <div class="form-group">
        <label for="insummer">Summer Class</label>
        <input type="checkbox" class="form-control" id="insummer" name="insummer" value="<%= course.inSummer %>">
      </div>

      <div class="form-group">
        <label for="infall">Fall Class</label>
        <input type="checkbox" class="form-control" id="infall" name="infall" value="<%= course.inFall %>">
      </div>
      
    </div>
  </div>
  
  <!-- PUT CLIENT SIDE CODE HERE -->
  <script>
  </script>